@import url('https://fonts.googleapis.com/css2?family=Lato:wght@300&family=Open+Sans&display=swap');

* {
    margin: 0;
    padding: 0;
    border: none;
}

body {
    font-family: 'Open Sans', sans-serif;
    color: black;
}


/* REUSABLE COMPONENTS */

a {
    text-decoration: none;
    color: black
}

li {
    text-decoration: none;
}

/* HEADER SECTION */

#logo {
    font-size: 150%;
    float: left;
    margin-top: 20px;
    margin-left: 30px;
    letter-spacing: 0.2em;
}

#hero-image img{
    height: 600px;
    width: 100%;
    background-repeat: no-repeat;
    background-position: center center;
}