@import url('https://fonts.googleapis.com/css2?family=Lato:wght@300&family=Open+Sans&display=swap');

* {
    margin: 0;
    padding: 0;
    border: none;
}

body {
    font-family: 'Open Sans', sans-serif;
    color: black;
}


/* REUSABLE COMPONENTS */

a {
    text-decoration: none;
    color: black
}

li {
    text-decoration: none;
    list-style: none;
}


/* HEADER SECTION */

header {
    background-image: url(/assets/images/hero-image.JPG);
    background-size: cover;
    height: 100vh;
}

#hero-image img{
    width: 100%;
    background-repeat: no-repeat;
    background-position: center center;
}

#logo {
    font-size: 150%;
    float: left;
    margin-top: 20px;
    margin-left: 30px;
    letter-spacing: 0.2em;
}

/* NAVIGATION SECTION */

#menu {
    float: right;
    list-style: none;
    font-size: 130%;
}

#menu, #logo {
    line-height: 75px;
}

#menu li {
    float: right;
    list-style-type: none;
    margin-right: 30px;
    margin-top: 20px;
    margin-right: 30px;
}

#menu li a:link,
#menu li a:visited {
    padding: 8px 0;
    text-decoration: none;
    text-transform: uppercase;
    border-bottom: 2px solid transparent;
    -webkit-transition: border-bottom 0.2s;
    transition: border-bottom 0.2s;
}

#menu li a:hover,
#menu li a:active {
    border-bottom: 2px solid #000000
}

/* FIRST SECTION */

.who-are-we {
    padding: 60px 0;
    background-color: cadetblue;
}
#placeholder {
    width: 100%;
    height: auto;
    grid-area: img;
    background-position: center center;
}

.text-grid1 {
    grid-area: text1;
}

.text-grid2 {
    grid-area: text2;
}

.heading-grid {
    grid-area: heading;
    margin: auto;
    text-align: center;
}

.grid1 {
    display: grid;
    height: 100vh;
    grid-template-columns: 5% 44% 2% 44% 5%;
    grid-template-rows: 20% 20% 20% 20% 20%;
    grid-template-areas: 
    ". heading . img ."
    ". . . img ."
    ". text1 . img ."
    ". text2 . img ."
    ". . . img .";
}

/* SECOND SECTION */

.what-we-do {
    padding: 60px 0;
    background-color: slategray;
}

#placeholder {
    width: 100%;
    height: auto;
    grid-area: img;
    background-position: center center;
}

.heading-grid {
    grid-area: heading;
    margin: auto;
    text-align: center;
}

.text-grid1 {
    grid-area: text1;
}

.text-grid2 {
    grid-area: text2;
}

.grid2 {
    display: grid;
    height: 100vh;
    grid-template-columns: 5% 44% 2% 44% 5%;
    grid-template-rows: 20% 20% 20% 20% 20%;
    grid-template-areas: 
    ". img . heading ."
    ". img . . ."
    ". img . text1 ."
    ". img . text2 ."
    ". img . . .";
}

/* THIRD SECTION */

.live-sports {
    padding: 60px 0;
    background-color: darkgreen;
}

#placeholder {
    width: 100%;
    height: auto;
    grid-area: img;
    background-position: center center;
}

.text-grid1 {
    grid-area: text1;
}

.text-grid2 {
    grid-area: text2;
}

.heading-grid {
    grid-area: heading;
    margin: auto;
    text-align: center;
}

.grid1 {
    display: grid;
    height: 100vh;
    grid-template-columns: 5% 44% 2% 44% 5%;
    grid-template-rows: 20% 20% 20% 20% 20%;
    grid-template-areas: 
    ". heading . img ."
    ". . . img ."
    ". text1 . img ."
    ". text2 . img ."
    ". . . img .";
}

/* FOOTER SECTION */

footer {
    height: 100vh;
    display: grid;
    align-items: center;
    grid-template-columns: repeat(auto-fit, minmax(240px, 1fr));
}

.footer-grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(320px, 1fr));
    grid-gap: 1rem;
    align-items: center;
    text-align: center;
}

/* YARD PAGE */

/* FIRST SECTION */

#yard-photo {
    height: auto;
    width: 380px;
    overflow: hidden;
    grid-area: img;
}

#yard-heading {
    grid-area: hdg;
    margin: 0 auto;
}

#yard-text {
    grid-area: text;
    text-align: justify;
}
.our-yard {
    height: 100vh;
    display: grid;
    grid-template-columns: 1fr;
    grid-gap: 1rem;
    grid-template-areas: 
    "hdg"
    "text" 
    "img";
    align-items: center;
    padding: 2% 2%;
}